.friends-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    padding: 9px 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 65px;
}
.friends-name span{
    margin: 0px 5px;
    padding-bottom: 2px;
    font-size: 14px;
}
.friends-name i{
    color: rgb(190, 190, 190);
}


.friends-main{
    height: 100vh;
    padding: 0 18px;
    padding-top: 100px;
}
.main__user-component:first-child{
    border-bottom: solid 1px rgb(225, 225, 225);
}
.main__channel{
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    color: rgb(157, 157, 157);
}
.main__channel__text{
    font-size: 14px;
}



.nav__link{
    position: relative;
}
.nav__link__notification {
    border-radius: 50%;
    background-color: rgb(244, 59, 59);
    color: white;
    font-size: small;
    display: flex;
    width: 17px;
    height: 17px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 13px;
    bottom: 8px;
}
.nav__link__dot{
    border-radius: 50%;
    background-color: rgb(244, 59, 59);
    display: flex;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 18px;
    bottom: 16px;
}




