
.friends-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    padding: 9px 0;
}
.friends-name span{
    margin: 0px 5px;
    padding-bottom: 2px;
    font-size: 14px;
}
.friends-name i{
    color: rgb(190, 190, 190);
}


.main{
    padding: 0 10px;
}

