.nav {
    background-color: rgba(0,0,0,0.03);
    padding: 16px 40px;
    border-top: 0.5px solid rgb(219, 219, 219);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: rgb(83, 83, 83);
}
.nav__notification {
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 3px;
    color: aliceblue;
    font-weight: 500;
    position: absolute;
    left: 12px;
    bottom: 10px;
}
.nav__dot {
    display: flex;
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: tomato;
    border-radius: 2.5px;
    bottom: 16px;
    left: 20px;
}
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.screen-header {
    display: flex;
    padding: 40px 15px 14px 15px;
    align-items: center;
    justify-content: space-between;
}
.screen-header__title {
    font-size: 24px;
    font-weight: 600;
}
.screen-header__icons {
    display: flex;
    
}
.screen-header__icons span{
    margin-left:20px;
}
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
#friends-display-link {
    display: block;
    text-align: center;
    padding: 11px 0;
    background-color: rgb(243, 243, 243);
    font-size: 14px;
    font-weight: 600;
    opacity: 0.75;
}
.fa-circle-info {
    margin-right: 3px;
    opacity: 0.3;
}
#friends-display-link .fa-angle-right {
    margin-left: 8px;
    opacity: 0.3;
}
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.main-screen {
    padding: 0 15px;
}
.user-component:first-child {
    display: flex;
    padding: 7px 0px 8px 0px;
}
.user-component {
    display: flex;
    justify-content: space-between;
}
.user-component__column{
	    display: flex;
	    align-items: center;
}
.user-component__avatar--xl{
    width: 50px;
    height: 50px;
    margin-right: 13px;
    border-radius: 35%;
}
.user-component__text {
    font-weight: 700;
    font-size: 17px;
}
.user-component__avatar--sm{
    width: 40px;
    height: 40px;
    margin-right: 13px;
    border-radius: 35%;
}
.user-component__title--not-bold {
    font-weight: 500;
}
.friends-screen__channel {
    margin-top: 3px;
    border-top: 1px solid rgb(231, 231, 231);
}
.friends-screen__channel-header {
    margin: 10px 0 15px 0;
    font-size: 13px;
    color: rgb(173, 173, 173);
    display: flex;
    justify-content: space-between;
}
.user-component__column:last-child {
    color: rgb(180, 180, 180);
}