.main {
    display: flex;
    flex-direction: column;
}
.main__title__big{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 20px;
}
.main__title__small {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(149, 149, 149);
    padding-bottom: 60px;
}



.main__login-form{
    padding: 0px 20px;
}
.main__login-form__input {
    display: flex;
    flex-direction: column;
    transition: border-color .3s ease-in-out;
}
.main__login-form__input input{
    padding: 20px 0;
    border: none;
    border-bottom: solid 1px rgb(184, 184, 184);
}
.main__login-form__input input::placeholder{
    font-size: 16px;
    color: rgb(166, 166, 166);
}
.main__login-form__input:focus {
    border-color: var(--yellow);
}


.main__login-form__button{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.main__login-form__button button{
    padding: 13px 0;
    margin-bottom: 10px;
    border: none;
    background-color: var(--yellow);
    cursor: pointer;
}
.main__find__text{
    display: flex;
    justify-content: center;
    font-size: 13px;
}





