.room__status-bar{
    background-color: rgb(156, 180, 213);
}




.room-header{
    position: fixed;
    top: 22px;
    display: flex;
    width: 100%;
    padding: 12px 18px;
    box-sizing: border-box;
    background-color: rgb(156, 180, 213);
}
.room-header__back-icon{
    width: 25%;
}
.room-header__title{
    width: 50%;
    text-align: center;
}
.room-header__icons{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.room-header__title span{
    font-size: 17px;
    font-weight: 600;
}
.room-header__icons .fa-bars{
    margin-left: 20px;
}




.room-main{
    height: 200vh;
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    background-color: rgb(156, 180, 213);
}




.room-main__date{
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.room-main__date__bar{
    background-color: rgb(130, 130, 148);
    padding: 5px 8px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}




.room-main__other-chatting__img{
    width: 37px;
    height: 37px;
    border-radius: 13px;
}
.room-main__other-chatting{
    display: flex;
    padding: 10px 15px;
}
.room-main__other-chatting__column:last-child{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.room-main__other-chatting__name{
    font-size: 14px;
    color: rgb(62, 62, 62);
}
.room-main__other-chatting__chat{
    display: flex;
    padding-top: 5px;
}
.room-main__other-chatting__chat__block{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.room-main__other-chatting__chat__time{
    display: flex;
    padding-left: 3px;
    font-size: 12px;
    align-items: flex-end;
}



.room-main__my-chatting{
    display: flex;
    padding: 10px 15px;
    justify-content: end;
}
.room-main__my-chatting__chat{
    display: flex;
    padding-top: 5px;
}
.room-main__my-chatting__chat__time{
    display: flex;
    padding-right: 3px;
    font-size: 12px;
    align-items: flex-end;
}
.room-main__my-chatting__chat__block{
    background-color: rgb(255, 221, 53);
    padding: 10px;
    border-radius: 10px;
}



.room-keyboard{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.room-keyboard__column:first-child{
    display: flex;
    background-color: white;
    padding: 4px 0px;
    align-items: center;
    justify-content: space-between;
}
.room-keyboard__attach{
    padding: 0 14px;
}
.room-keyboard__input-board{
    display: flex;
    padding: 0px 0;
    background-color: rgb(247, 247, 247);
    border-radius: 22px;
    border: 1px solid rgb(208, 208, 208);
    margin-right: 12px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.room-keyboard__input-board__input{
    margin-left: 10px;
}
.room-keyboard__input-board__input input{
    border: none;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    width: 240px;
}
.room-keyboard__input-board__emotion{
    margin-right: 10px;
}
.room-keyboard__input-board__up-button{
    margin: 2px;
    background-color: rgb(255, 221, 53);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.room-keyboard__column:last-child{
    background-color: rgb(216, 216, 216);
}


.room-keyboard__line-1{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}
.room-keyboard__key-line{
    display: flex;
    justify-content: space-between;
}
.room-keyboard__key-botton{
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 40px;
    border-radius: 5px;
    margin: 0 2.5px;
}


.room-keyboard__line-2{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}



.room-keyboard__line-3{
    padding: 5px 3px;
    display: flex;
    justify-content: space-between;
}
.gray-key-botton{
    width: 40px;
    height: 40px;
    background-color: rgb(178, 180, 192);
    border-radius: 5px;
}
.room-keyboard__shift-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
}
.room-keyboard__backspace-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
}



.room-keyboard__line-4{
    padding: 5px 3px;
    display: flex;
    justify-content: space-between;
}
.room-keyboard__number-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
}
.room-keyboard__language{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5px;
}
.room-keyboard__voice-botton{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 40px;
    border-radius: 5px;
    margin: 0 2.5px;
}
.room-keyboard__space-botton{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 143px;
    height: 40px;
    margin: 0 2.5px;
}
.room-keyboard__return-botton{
    display: flex;
    background-color: rgb(178, 180, 192);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 86px;
    height: 40px;
    margin: 0 2.5px;
}