.setting-header{
    position: fixed;
    top: 22px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 18px;
    box-sizing: border-box;
    background-color: white;
    
}
.setting-header__title span{
    font-size: 17px;
    font-weight: 600;
}




.setting-main{
    height: 100vh;
    padding-top: 63px;
    display: flex;
    flex-direction: column;
}
.setting__top-settings{
    border-bottom: 1px solid rgb(195, 195, 195);
    padding: 15px 0;
}
.setting__bottom-settings{
    padding: 15px 0;
}
.setting-block{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(241, 241, 241);
    padding: 20px 0;
    margin: 0 20px;
}
.setting-block:last-child {
    border-bottom: none;
}
.setting-block__name{
    display: flex;
}
.setting-block__name__icon{
    width: 15px;
    display: flex;
    justify-content: center;
    margin-right: 18px;
}
.setting-block__name__text{
    display: flex;
}
.setting-block__Addendum{
    color: rgb(160, 160, 160);
}



.setting__new{
    margin-left: 8px;
    display: flex;
    margin-top: 3px;
}