.badge {
    border-radius: 50%;
    background-color: rgb(244, 59, 59);
    color: white;
    font-size: small;
    display: flex;
    width: 17px;
    height: 17px;
    justify-content: center;
    align-items: center
}
