.main__user-component {
    display: flex;
    padding: 8px 0 16px 0;
    justify-content: space-between;
}
.main__user-component__column:first-child{
    display: flex;
    align-items: center;
}


.main__user-component__img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.main__user-component__text{
    padding-left: 10px;
    
}
.main__user-component__title{
    font-weight: 600;
    font-size: 18px;
}
.main__user-component__subtitle{
    margin-top: 5px;
    color: rgb(181, 181, 181);
}




/* medium */
.main__user-component-medium {
    display: flex;
    padding: 8px 0 16px 0;
}
.main__user-component__column-medium:first-child{
    display: flex;
    align-items: center;
}
.main__user-component__column-medium:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.main__user-component__img-medium{
    width: 50px;
    height: 50px;
    border-radius: 18px;
}
.main__user-component__text-medium{
    padding-left: 10px;
    
}
.main__user-component__title-medium{
    font-weight: 600;
    font-size: 16px;
}
.main__user-component__subtitle-medium{
    font-size: 14px;
    margin-top: 5px;
    color: rgb(148, 148, 148);
}






/* small */
.main__user-component-small{
    display: flex;
    padding: 8px 0 16px 0;
}
.main__user-component__column-small:first-child{
    display: flex;
    align-items: center;
}
.main__user-component__img-small{
    width: 45px;
    height: 45px;
    border-radius: 15px;
}
.main__user-component__text-small{
    padding-left: 10px;
    
}
.main__user-component__title-small{
    font-weight: 400;
    font-size: 15px;
}